---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Contact from "../components/Contact.astro"
---

<Layout title = "Apps">
    <Main>
     
    	<div id ="app-div" class="app flex flex-wrap justify-center items-center space-x-4 pt-4 gap-6">
            <a href="https://www.brepp.dev/weatherpage" target="_blank" rel="noopener noreferrer" class="w-40 h-40 rounded-lg overflow-hidden">
                <Contact imgSrc="/images/WeatherApp.png" alt="weatherapp" />
            </a>

            <a href="https://www.brepp.dev/newspage " target="_blank" rel="noopener noreferrer" class="w-40 h-40 rounded-lg overflow-hidden">
                <Contact imgSrc="/images/News.png" alt="newsapp" />
            </a>

            <a href="https://petconnection.netlify.app/" target="_blank" rel="noopener noreferrer" class="w-40 h-40 rounded-lg overflow-hidden">
                <Contact imgSrc="/images/PetConnection.png" alt="petconnection" />
            </a>

            <a href="https://www.brepp.dev/todo" target="_blank" rel="noopener noreferrer" class="w-40 h-40 rounded-lg overflow-hidden">
                <Contact imgSrc="/images/Todolist.png" alt="todoapp" />
            </a>
            
        </div>
  
    </Main>
  </Layout>
  

<!-- https://www.brepp.dev/weatherpage
https://www.brepp.dev/newspage 
https://www.brepp.dev/todo

http://localhost:4321/newspage
http://localhost:4321/weatherpage
http://localhost:4321/todo
-->