---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Contact from "../components/Contact.astro"
---

<Layout title = "Apps">
    <Main>
     
    	<div class="app flex justify-center items-center pt-1 space-x-4">
            <a href="https://www.brepp.dev/weatherpage" target="_blank" rel="noopener noreferrer" class="w-40 h-40">
                <Contact imgSrc="/images/weatherapplogo.png" alt="weatherapp" />
            </a>
            
        </div>
  
    </Main>
  
  
  </Layout>
  

