---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Schedule from "../components/Schedule.astro"
---

<Layout title = "Beighley's Calendar">
  <Main>
   
    <Schedule />
  

  </Main>


</Layout>



