---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Email from "../components/Email.astro"


---

<Layout title = "Beighley's Contact">
  <Main>
     <h1 class="text-white">Here is my contact information ... </h1> 
    
     <Email />

</Main>


</Layout>





