---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Email from "../components/Email.astro"


---

<Layout title = "Beighley's Contact">
  <Main>
   
    
     <Email />

</Main>


</Layout>





