---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro'
import Main from '../components/Main.astro'
import Accordion from '../components/Accordion.astro'
import Dropdown from '../components/Dropdown.astro';
import Toast from '../components/Toast.astro'
import Weather from '../components/Weather.astro'
import Contact from '../components/Contact.astro'
---

<Layout title="Beighley Repp">
	<Main>
		<div class="skew-x-7 ml-8">
		<h3> Hi, my name is </h3> 
	</div>
		<H1 text = "Beighley Repp" />
		<H1 text = "I enjoy building things for the web. " />
		<div class="flex flex-wrap skew-x-7 ml-7 max-w-6xl">
		<h3> I'm a frontend developer based in beautiful California, 
			dedicated to crafting websites that deliver a smooth user experience. 
			I thrive on exploring new technologies and stacks, 
			and I'm committed to learning every day.
		</h3>
		</div>
		<div class="flex flex-wrap items-center justify-center">
			<h2 class="text-3xl text-slate-300 font-mono pt-20 pb-20"> I CAN BUILD PRACTICAL THINGS LIKE THIS...</h2>

	</div>
		<div class="flex flex-wrap justify-evenly items-start px-20 pb-20"> 
		<div class="accordion-container my-1 px-5 py-5 rounded-md border border-white w-[600px]">
			<h2 class="font-mono text-xl text-white text-center py-5">Accordion</h2>
			<h3><Accordion title="First Item" details={["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."]} /></h3>
			<h3><Accordion title="Second Item" details={["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."]} /></h3>
			<h3><Accordion title="Third Item" details={["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."]} /></h3>
		  </div> 
		  <div class="dropdown-container rounded-md border border-white w-[600px] h-[361px] my-1 px-5 py-5 ">
		  <h2 class="font-mono text-xl text-white text-center py-5">Drop Down</h2>
    			<Dropdown title="Select an Option" 
				items={["Select an Option", "Item 1", "Item 2", "Item 3", "Item 4", "Item 5"]} />
			</div>
			<div class="toast-container rounded-md border border-white w-[600px] h-[361px] my-1 px-5 py-5 ">
				<h2 class="font-mono text-xl text-white text-center py-5">Toast</h2>
			<Toast toast="Toast" content="Your Toast is Ready" />
			</div>

			<div class="weather-container rounded-md border border-white w-[600px] h-[361px] my-1 px-5 py-5">
                <h2 class="font-mono text-xl text-white text-center py-5">Weather</h2>
				<Weather
				cities={[
					{ name: 'New York', code: 'New York' },
					{ name: 'San Francisco', code: 'San Francisco' },
					{ name: 'Chicago', code: 'Chicago' },
					{ name: 'Miami', code: 'Miami' },
				]}
			/>
            </div>
			</div>

			<div class="flex flex-wrap items-center justify-center">
				<h2 class="text-3xl text-slate-300 font-mono "> AND AM ALWAYS LOOKING TO TRANSFORM CONCEPTS INTO CODE 
				</h2>
			</div>


			<div class="pt-20 flex justify-center">
			<h4 class="text-slate-300 font-mono"> Find Me At :</h4>
			</div>

			<div class="social-links flex justify-center items-center pt-1 space-x-4">
				<a href="https://github.com/brepp22" target="_blank" rel="noopener noreferrer">
					<Contact imgSrc="/images/github-mark-white.png" alt="github" />
				</a>
				<a href="https://www.linkedin.com/in/beighleyrepp/" target="_blank" rel="noopener noreferrer">
					<Contact imgSrc="/images/linkedin-64.png" alt="linkedin" />
				</a>
			</div>
			<div class="pt-3 flex justify-center">
				<h4 class="text-slate-300 font-mono text-sm"> Crafted in 2024</h4>
				</div>
	</Main>
</Layout>

<style>
   @media (max-width: 600px) {
        .flex {
            flex-direction: column; 
			align-items: center;
			padding: 0 20px;
        }
		.skew-x-7 {
			transform: none; 
		}

		.ml-7 {
			margin-left: 0; 
		}

		h3 {
			font-size: 16px; 
		}

		h2 {
		font-size: 24px; 
		padding: 20px 0; 
		text-align: center; 
		}
        .accordion-container,
        .dropdown-container,
        .toast-container,
        .weather-container {
            width: 95%; 
            max-width: 95%; 
            margin: 10px auto;
            padding: 15px;
            overflow: auto; 
        }
		.social-links {
    		display: flex; 
    		justify-content: center; 
    		align-items: center; 
    		padding-top: 1rem; 
			padding-bottom: 1rem;
    		gap: 1rem; 
		}
        body {
            font-size: 12px; 
   	 	}
	}

	h3{

		font-family: monospace;
		font-size: 20px;
		padding-bottom: 30px;
		color: rgb(205, 208, 215);
	}

</style>