---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import News from "../components/News.astro"

---

<Layout title = "News">
  <Main>

  <News />

  </Main>

</Layout>
