---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"

---

<Layout title = "Todo">
  <Main>

    <h1>To Do List:</h1>
    <input 

        
    />

    <button id="todo-button">Submit</button>
  </Main>
</Layout>
