---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import List from "../components/List.astro"

---

<Layout title = "Todo">
  <Main>

    <h1>To Do List:</h1>
   
    <List item={[]}/>

    
  </Main>
</Layout>
