---

import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Weatherpage from "../components/Weatherpage.astro";

---



<Layout title = "Weather Page">
    <Main>
     
      
       <Weatherpage />
  
    </Main>
  
  
  </Layout>