---
type Props = {
    text: string;
};

const {text} = Astro.props;

---
<div class="flex items-center">
    <h1 class="text-6xl text-white font-sans mb-16 flex flex-wrap skew-x-7 ml-7 max-w-6xl">{text}</h1>
  </div>