---
interface Props {
    item: string[];
}

const {item} = Astro.props;

---

<div id="list-container">
    <div id="input-wrapper">
    <input
        id="input-bar"
        class ="w-[220px] sm:w-[220px] md:w-[275px] lg:w-[320px] h-10 p-2 rounded-md border-gray-500 dark:placeholder-black font-mono
        text-sm sm:sm md:sm lg:text-base bg-slate-800 dark:bg-slate-400"
        placeholder="Type To Do Here..."
    />

    <button id="list-button" class = "mt-2 p-2 rounded-md bg-gray-800 dark:bg-slate-400
         text-white dark:text-black w-[100px] sm:w-[100px] md:w-[125px] text-sm sm:sm md:sm lg:text-sm h-10 font-mono hover:text-blue-400
         dark:hover:text-blue-900">
        Click Me!
    </button>
</div>
    <div id="list-items">
      
        {(
          item.map((i, index) => (
            <div class="list-item align-center" data-value={i}>
              <span>{i}</span>
                <button id="complete-btn">Completed</button>
                <button id ="edit-btn">Edit</button>
                <button id="delete-btn">Delete</button>
            </div>
          ))
        )}
      </div>
    </div>

</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
  const inputBar = document.getElementById("input-bar") as HTMLInputElement;
  const listButton = document.getElementById("list-button") as HTMLButtonElement | null;
  const listContainer = document.getElementById("list-items") as HTMLElement | null;

  inputBar?.addEventListener("keyup" , function(event) {
    if(event.key === "Enter"){
        addTodo();
    }
  });

  listButton?.addEventListener("click" , addTodo);

  function addTodo() {
    const inputValue = inputBar?.value.trim();
    if (inputValue) {
      const newItem = document.createElement("div");
      newItem.classList.add("list-item", "mb-5" , "p-2", "rounded-md");

      newItem.innerHTML = `<span>${inputValue}</span>
                <div class='sm:block md:hidden lg:hidden xlg:hidden py-1'></div>
                <button class="complete-btn text-white px-3 py-1 text-[12px] sm:text-[12px] md:text-[15px] lg:text-[15px] rounded-md font-mono  items-center
                    dark:bg-indigo-400 bg-indigo-800 dark:text-black ">Completed</button>
                <button class="edit-btn text-white px-3 py-1 text-[12px] sm:text-[12px] md:text-[15px] lg:text-[15px] rounded-md font-mono  items-center 
                    bg-slate-800 dark:bg-slate-400 dark:text-black">Edit</button>
                <button class="delete-btn text-white px-3 py-1 text-[12px] sm:text-[12px] md:text-[15px] lg:text-[15px] rounded-md font-mono  items-center
                   bg-red-900 dark:text-black dark:bg-red-700">Delete</button>
            `;
      listContainer?.appendChild(newItem);
      inputBar.value = ""; 
    }
  };

  listContainer?.addEventListener("click", function (event) {
        const target = event.target as HTMLElement;
        
        if (target?.classList.contains("delete-btn")) {
            target.closest(".list-item")?.remove();
        }
   
    if (target.classList.contains("edit-btn")) {
            const listItem = target.closest(".list-item");
            const listText = listItem?.querySelector("span");

            if (listText) {
                let currentText = listText.innerText;
                if(currentText.endsWith(('✅'))){
                    currentText = currentText.slice(0, -1);
                    }

                const inputField = document.createElement("input");
                inputField.type = "text";
                inputField.value = currentText;
                inputField.classList.add(
                "dark:bg-white", "dark:text-black", "bg-slate-800", 
                "text-white", "border", "border-gray-500", "rounded-md", "p-1"
                );
                 
                listText.replaceWith(inputField);

                inputField.addEventListener("keyup" , function(event) {
                    if(event.key === "Enter"){
                        listText.innerText = inputField.value;
                        inputField.replaceWith(listText)
                    }
                });

                inputField.addEventListener("blur", function () {
                    listText.innerText = inputField.value; 
                    inputField.replaceWith(listText); 
                });
                inputField.focus();
            }
        }

        if (target.classList.contains('complete-btn')) {
        const listItem = target.closest(".list-item");
        const listText = listItem?.querySelector("span");
        
        if (listText) {
            if (!listText.innerText.endsWith('✅')) {
                listText.append(' ✅');
            } else {
                listText.innerText = listText.innerText.slice(0, -1);
            }
        }
    }
    });
});

</script>

<style>

    #list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #list-items{
        font-family:monospace;
        font-size: 18px;
        padding: 20px;
        list-style: none;
    }

    @media(max-width: 600px){
        #list-items{
            font-size:15px;
        }

       #list-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
       }
    }



</style>