---
interface Props {
	title: string;
	description?: string;
	image?: string
}

const { title, 
	description = "Beighley's Portfolio Site",
 	image = "/images/portfolio.jpg" } = Astro.props;

import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property:"og:img" content={image}/>
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Nav />
		<slot />
	</body>
</html>
